image.marginClass {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    display: block;
}

.wrapper {
    height: 400px;
    display: grid;
    grid-template-rows: 40px 30px 50px 4fr 50px 30px;
    border-radius: 20px;
    background-color: black;
}

.wrapper > * {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.selected {
    background-color: #323232;
    padding: 7px;
}
.outlined {
    border-color: #323232;
    border-style: solid;
    padding: 3px;
}
